* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.logout-btn {
    text-decoration: none;
    background: #ef4444;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
}



.login-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef2ff;
}

/* Lottie container */
#lottie-login {
    width: 320px;
    height: 320px;
}

/* Mobile */
@media (max-width: 768px) {
    #lottie-login {
        width: 200px;
        height: 200px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-bottom: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card .value {
    font-size: 1.8rem;
    font-weight: bold;
}

.status-approved {
    color: green;
}

.status-pending {
    color: orange;
}



.status-rejected {
    color: rgb(240, 30, 30);
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    background: #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.tab-btn.active {
    background: #4f46e5;
    color: white;
}

.form-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
}

input,
textarea,
button,
select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
}

button {
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}